.vs/
_deps/
CMakeFiles/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
*.cmake
CMakeCache.txt
ZERO_CHECK.proj
ZERO_CHECK.proj.filters
build/
build_windows/
/app/src/main/assets/
local.properties
.DS_Store
build_ios
.idea
app/.cxx
.gradle

